---
layout: post
title:  "Harley A"
date:   2018-09-12 15:17:01 +1000
categories: "Harley A"
---

<div id="links">
<a href="https://www.upwork.com/fl/harleya">Upwork</a>
<br>
<a href="https://github.com/grfxwzdesigner">GitHub</a>
</div>
<br><br><br>


{% for image in site.static_files %}
    {% if image.path contains 'assets/images/posts/harleya' %}
        <img src="{{ site.baseurl }}{{ image.path }}"
             alt="Logorama - Logos Done Rama"
             title="Logorama - Logos Done Rama">
    {% endif %}
{% endfor %}
