{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "ignorePatterns": ["**/assets/**"],
  "rules": {
    "no-console": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": ["warn"],
    "no-empty": ["warn"],
    "no-redeclare": ["warn"],
    "no-use-before-define": ["warn"],
    "no-var": ["warn"],
    "prefer-const": ["warn"],
    "prefer-arrow-callback": ["warn"],
    "prefer-template": ["warn"],
    "template-curly-spacing": ["warn", "always"]
  }
}
