node_modules
.idea
*.iml
*.ipr
*.iws
scapers/fql/*.log
ferret.log
scapers/shell/logos
scapers/shell/random
logorama/_site
logorama/.jekyll-cache
logorama/.sass-cache
charts/site/
spells.txt
newspells.txt
profile.cov
venv
doc/build/
