node_modules
.idea
*.iml
*.ipr
*.iws
scapers/fql/*.log
ferret.log
scapers/shell/logos
scapers/shell/random
logorama/_site
logorama/.jekyll-cache
logorama/.sass-cache
charts/site/
spells.txt
newspells.txt
profile.cov
venv
doc/build/
pdfstar/pdfs
workers.dev/magic/dist/
workers.dev/magic/node_modules/
workers.dev/magic/worker/
workers.dev/preston/dist/
workers.dev/preston/node_modules/
workers.dev/preston/worker/
.vscode/settings.json
