---

extends: default

ignore: |
  /charts/site.yml
  node_modules/

rules:
  brackets:
    level: warning
    max-spaces-inside: 1
  comments: disable
  comments-indentation: disable
  document-start: disable
  line-length:
    max: 350
    level: warning
  truthy: disable
