*                   @jbampton
.*                  @AmirTallap @BaseMax @jbampton @prio101 @ugifractal
*.html              @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal @VictorAraica
*.go                @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
*.js                @AmirTallap @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.json              @AmirTallap @BaseMax @jbampton @prio101 @ugifractal
*.md                @AmirTallap @BaseMax @jbampton @smriad @VictorAraica
*.mod               @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
*.php               @AmirTallap @BaseMax @jbampton @smriad @ugifractal
*.py                @AmirTallap @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.rb                @AmirTallap @BaseMax @jbampton @prio101 @ugifractal
*.sh                @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
*.sum               @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
*.toml              @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal @VictorAraica
*.xsl               @AmirTallap @BaseMax @jbampton @prio101 @ugifractal
*.yaml              @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
*.yml               @AmirTallap @BaseMax @jbampton @prio101 @smriad @ugifractal
requirements.txt    @AmirTallap @BaseMax @jbampton @smriad @ugifractal @VictorAraica
