*                   @jbampton
.*                  @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.html              @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.go                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.js                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.json              @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.md                @BaseMax @jbampton
*.mod               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.php               @Andrew-Colman @jbampton @BaseMax
*.py                @Andrew-Colman @BaseMax @jbampton @ugifractal @VictorAraica
*.rb                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.sh                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.sum               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.toml              @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.xsl               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.yaml              @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.yml               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
requirements.txt    @Andrew-Colman @BaseMax @jbampton @ugifractal @VictorAraica
