---
layout: page
title: Flags
permalink: /flags/
---
{%- assign w = "https://en.wikipedia.org/wiki/" -%}
{%- for row in site.data.flags -%}
    {% capture name %}
    {%- if row.name == blank -%}
        {% include harley/harley.html %}
    {%- else -%}
        {% include karine/karine.html %}
    {%- endif -%}
    {% endcapture %}
    <br>
    <p>
        <a href="{{w}}{{ row.country }}"
            target="_blank" rel="noopener">{{ row.country  }}</a>
    </p>
    <a href="{{w}}{{ row.country }}"
        target="_blank" rel="noopener">
        <img src="{{ site.baseurl }}/assets/images/flags/{{ row.country }}.png"
             alt="Fuchsia Programming {{ row.country }}"
             title="Fuchsia Programming {{ row.country }}">
    </a>
    <p>{{ name }}</p>
{%- endfor -%}