---
layout: page
title: Games
permalink: /games/
---

{% assign w = "https://en.wikipedia.org/wiki/" %}

{%- for concept in site.data.games -%}
    {%- assign title = concept.title | strip -%}
    {% if title != '' %}
        {% assign display = concept.title %}
    {% else %}
        {% assign display = concept.name | split: "_" | join: " " %}
    {% endif %}
    <p>
        <a href="{{w}}{{ concept.name }}">{{ display }}</a>
        <br>
        <a href="{{w}}{{ concept.name }}">
            <img src="/assets/images/games/fuchsia-{{ concept.image }}.png" alt="{{ display }}" title="{{ display }}">
        </a>
    </p>
    <h5>
        {%- assign creator = concept.creator | strip -%}
        {% if creator != '' %}
            {%- include karine/karine.html -%}
        {% else %}
            {%- include jorge/jorge.html -%}
        {% endif %}
    </h5>
{%- endfor -%}
