---
layout: page
title: 🎮 Games
permalink: /games/
page-type: grid
---

{% assign w = "https://en.wikipedia.org/wiki/" %}
{%- for row in site.data.games -%}
    {%- assign title = row.title | strip -%}
    {% if title != '' %}
        {% assign display = row.title %}
    {% else %}
        {% assign display = row.name | split: "_" | join: " " %}
    {% endif %}
    <div class="left">
       
            <a href="{{w}}{{ row.name }}"><p>{{ display }}</p></a>
            <br>
            <a href="{{w}}{{ row.name }}">
                <img src="/assets/images/games/fuchsia-{{ row.image }}.png" alt="{{ display }}" title="{{ display }}">
            </a>
        
        <h5>
            {%- assign creator = row.creator | strip -%}
            {% if creator != '' %}
                {%- include karine/karine.html -%}
            {% else %}
                {%- include jorge/jorge.html -%}
            {% endif %}
        </h5>
    </div>
{%- endfor -%}
