<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- include social.html -%}

        <a href="https://info.flagcounter.com/E06S">
          <img src="https://s11.flagcounter.com/count/E06S/bg_ffffff/txt_000000/border_FF0080/columns_3/maxflags_250/viewers_3/labels_0/pageviews_0/flags_0/percent_0/"
            alt="Flag Counter">
        </a>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
