<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!--<h2 class="footer-heading"></h2>
    -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- include social.html -%}
        <p>
          This site was last updated at {{ "now" | date: "%Y-%m-%d %H:%M:%S" }}
        </p>
        <a href="https://info.flagcounter.com/E06S" target="_blank" rel="noopener">
          <img src="https://s11.flagcounter.com/count/E06S/bg_ffffff/txt_000000/border_FF0080/columns_3/maxflags_250/viewers_3/labels_0/pageviews_0/flags_0/percent_0/"
            alt="Flag Counter">
        </a>
        <p>
          <!--
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                 src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                 alt="Valid CSS!">
          </a>
          -->
        </p>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>
          <span class="typer" id="main"
                data-words="{%- for sentences in site.data.info -%}
                            {{sentences.sentence}};
                            {%- endfor -%}"
                data-colors="white"
                data-delim=";"
                data-delay="100"
                data-deleteDelay="1000"></span>
          <span class="cursor" data-owner="main"></span>
          </p>
      </div>
    </div>

  </div>

  <div>
    <img src="/assets/images/gifs/banner.gif" alt="Fuchsia Programming" title="Fuchsia Programming">
  </div>

</footer>
<script src="/assets/js/typer.js"></script>
<script src="/assets/js/mojs.js"></script>
<script src="/assets/js/mojs-player.min.js"></script>
<script>
    const burst = new mojs.Burst({
        radius:   { 0: 100 },
        count:    50,
        children: {
            shape:      'polygon',
            points:     200,
            fill:       ['cyan', 'yellow', 'darkpink', 'red', 'blue', 'green', 'white', 'olive', 'black', 'lime', 'fuchsia', 'purple', 'navy', 'teal', 'aqua', 'maroon' ],
            angle:      { 360: 0 },
            duration:   2000,
            delay:      'stagger( rand(0, 100) )'
        }

    });
    document.addEventListener( 'click', function (e) {
        burst
            .tune({ x: e.pageX - ($("body").width() / 2), y: e.pageY - (window.innerHeight / 2) })
            .setSpeed(3)
            .replay();
    });
</script>