---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {font-size: 13pt;}
article img {display: block; margin-left: auto; margin-right: auto;}
article h1, article p {text-align: center}
.site-header, .site-footer {background-color: #FF0080; border-bottom: 5px solid #424242;}
.site-header .wrapper a {color: white;}
.site-footer {border-bottom: 5px solid #424242; border-top: 5px solid #424242; color:white; padding: 0;}
.footer-col-wrapper, .footer-col-wrapper span {color:white; font-size: 13pt;}

article span, article a, article a:visited {color: #FF0080; font-weight: bold;}
article a:hover {color:blue;}
main {background-color: #94AFD1;}

header.site-header {height: 360px;}
.home, .post-content {
  ul, h2, h3, p {text-align: center}
  a {color: #FF0080; font-weight: bold;}
  p a {
    font-size: 17pt;
  }
}
ul li {list-style: none;}

@media screen and (max-width:600px){
  .site-nav {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #FF0080;
    border: 5px solid #424242;;
    border-radius: 20px;
    text-align: right;
    color: white;
    padding: 0pt 5pt 0pt 5pt;
  }

}

