---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

article img {display: block; margin-left: auto; margin-right: auto;}
article h1, article p {text-align: center}
.site-header, .site-footer {background-color: #FF0080; border-bottom: 5px solid #424242;}
.site-header .wrapper a {color: white; font-weight: bold;}
.site-footer {border-bottom: 5px solid #424242; border-top: 5px solid #424242; color:white}
.footer-col-wrapper, .footer-col-wrapper span {color:white;}

