---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {font-size: 13pt;background-color: #94AFD1;}
article img {display: block; margin-left: auto; margin-right: auto;}
article h1, article p {text-align: center}
.site-header, .site-footer {background-color: #FF0080; border-bottom: 5px solid #424242;}
.site-header .wrapper a {color: white;}
.site-footer {border-bottom: 5px solid #424242; border-top: 5px solid #424242; color:white; padding: 0;}
.footer-col-wrapper, .footer-col-wrapper span {color:white; font-size: 13pt;}

.footer-col-3 {min-height:250pt;}

article {
  span, a, a:visited {color: #FF0080; font-weight: bold;}
}
article a:hover {color:blue;}
main {background-color: #94AFD1;}

#vid {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  height: 0;
}
#px {
  display: block;
  margin: 0 auto;
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0pt;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  img
  {
    display: block;
    margin: 0 auto;
  }
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

header.site-header {height: 360px;}
.home, .post-content {
  ul, h1, h3, p, .pagination {text-align: center}
  a {color: #FF0080; font-weight: bold;}
  p a {
    font-size: 17pt;
  }
}
ul li {list-style: none;}

main .wrapper {max-width: 360px;background-color: #94AFD1;}

@media screen and (max-width:600px){
  .site-nav {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #FF0080;
    border: 5px solid #424242;;
    border-radius: 20px;
    text-align: right;
    color: white;
    padding: 0pt 5pt 0pt 5pt;
  }
}
/*basic reset*/
* {margin: 0; padding: 0;}
canvas {display: block;}
.page-link{display: block}

#starfield {
  width:100%;
  height:100%;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}
#gamecontainer {
  margin-left: auto;
  margin-right: auto;
}
#gamecanvas {
}
#info{color:white; margin-left: auto;
  margin-right: auto;}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
}

.letters-fuchsia {color: #FF0080;}
.letters-pink {color: #ff69b4;}
.letters-purple {color: #551A8B;}

.post-list {padding-top: 210px;}

#weather-info {height: 80px;}