body {text-align: center; background-color: #F0F3F4; margin:0;}
h1 {font-size: 58pt; margin: 0;}
body div {display: inline-block}
img {vertical-align: top;}
h2 {text-align: left; margin-left: 25pt; margin-bottom: 250pt;}
