---
layout: page
title: 📺 TV
permalink: /tv/
---

{% assign w = "https://en.wikipedia.org/wiki/" %}
{%- for row in site.data.tv -%}
    {% capture who %}
        {%- if row.designer == blank -%}
            {% include jorge/jorge.html %}
        {%- else -%}
            {% include harley/harley.html %}
        {%- endif -%}
    {% endcapture %}
    {%- assign title = row.title | strip -%}
    {% if title != '' %}
        {% assign display = row.title %}
    {% else %}
        {% assign display = row.name | split: "_" | join: " " %}
    {% endif %}
    <p>
        <a href="{{w}}{{ row.name }}">{{ display }}</a>
        <br>
        <a href="{{w}}{{ row.name }}">
            <img src="/assets/images/tv/fuchsia-{{ row.image }}.png"
                 alt="{{ display }}" title="{{ display }}">
        </a>
    </p>
    <h5>{{ who }}</h5>
{%- endfor -%}
