<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ut4WoDi-AEM?rel=0&amp;start=11" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
