<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <div id="overlay">
      <img id="imgo" src="/assets/images/fuchsia-flower-only.png" alt="Fuchsia">
    </div>
    <div id="youtube">

    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <img id="px" alt="&#9829;" title="&#9829;" src="/assets/images/FFFFFF-0.png">
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>