name: Percy

on:
  push:
    branches:
      - main

jobs:
  name: CI
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install --save-dev @percy/cli
      - run: |
          cd docs
          bundle exec jekyll build
          npx percy snapshot _site/ # or any directory such as public/
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
